<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Job tittle:</strong>
  <%= @user.job_tittle %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user.twitter_id %>
</p>

<p>
  <strong>Last tweet:</strong>
  <%= @user.last_tweet %>
</p>

<p>
  <strong>Five Last Tweets:</strong>
  <%= @user.five_last_tweets %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
